.navigation {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  position: absolute;
  height: 50px;
  width: 100%;
  line-height: 50px;
  padding: 0 1rem;
  z-index: 20;
}
.logo {
  a {
    text-decoration: none;
    color: black;
  }
}

.links {
  margin: 0;
  padding: 0;
  display: flex;
  li {
    list-style: none;
    margin: 0 20px;
  }
  a {
    font-size: 1.5rem;
    text-decoration: none;
    color: grey;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    position: relative;
    cursor: pointer;

    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      left: 51%;
      right: 51%;
      bottom: 0;
      background: #ff710094;
      height: 4px;
      -webkit-transition-property: left, right;
      transition-property: left, right;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out;
    }
  }

  a:hover,
  .active {
    &:before {
      left: 0;
      right: 0;
    }
  }
}
