.work_section {
  height: 50%;
  width: 100%;
  position: absolute;
  display: block;
  align-items: center;
  left: 50%;
  margin-left: -50%;
  top: 25%;
}

.projectWrapper {
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
}

.project {
  width: 25%;
  height: auto;
  .viewDetails {
    visibility: hidden;
  }
  span {
    visibility: hidden;
  }
}

.project.active {
  .viewDetails {
    visibility: visible;
    height: 700px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: green;
    z-index: 9;
  }
  span {
    visibility: visible;
    position: absolute;
    right: 0;
    top: 0;
    color: #000;
    z-index: 10;
    cursor: pointer;
  }
}

.projectBucket {
  width: 100%;
  height: 100%;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: relative;
  transition: transform 0.2s;

  h3,
  p,
  button {
    z-index: 1;
  }
  button {
    margin: 0 auto;
    width: 200px;
    cursor: pointer;
  }

  &:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
  }
}
