.footer {
  display: flex;

  position: relative;
  height: auto;
  width: 100%;
  padding: 2rem;
  z-index: 20;
  font-size: 1rem;
  bottom: 0;
  color: white;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  @media screen and (min-width: 600px) {
    justify-content: space-between;
    flex-direction: row;
    height: 50px;
    line-height: 50px;
    position: absolute;
    margin: 1rem 0;
  }
}

.footerRight {
  span {
    margin-left: 10px;
  }
  a {
    color: #fff;
  }
}
