.home_page {
  display: flex;
  width: 100%;
  height: 50%;
  margin-top: 200px;
  align-items: center;
  flex-direction: column;
}

.home_section {
  height: 100vh;
  vertical-align: middle;
  display: flex;
  justify-content: center;
}

.top {
  min-height: 300px;
  display: block;
  width: 100%;
}

.avatar {
  background: grey;
  height: 300px;
  width: 300px;
  margin: 0 auto;
  border-radius: 100%;
  overflow: hidden;
  img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }
}

.bottom {
  min-height: 300px;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 1;

  h1 {
    font-size: 30px;
    margin: 0 0 0 15%;
    color: white;
    @media screen and (min-width: 768px) {
      font-size: 35px;
    }
    @media screen and (min-width: 960px) {
      font-size: 40px;
    }
    @media screen and (min-width: 1200px) {
      font-size: 60px;
    }
  }
  p {
    margin: 0;
    margin-left: 15%;
    color: white;
    font-size: 24px;
  }
  p,
  h1,
  a {
    position: relative;
    z-index: 1;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  a {
    background: #005b7d;
    color: white;
    text-align: center;
    width: 200px;
    padding: 15px;
    text-decoration: none;
    text-transform: capitalize;
    //margin-left: 15%;
    position: relative;
    top: 50px;
    margin: 0 auto;
  }
}
